{% if AVATAR %}
<p>
  <img width="100%" class="img-thumbnail" src="{{ AVATAR }}"/>
</p>
{% endif %}
<hr/>
<div class="row">
  <div class="col-lg-12">
    <div class="bs-component">
      <blockquote>
	Morphogénie Logiciels SAS is a free and open source sotware
      editor. Our softwares help biologists get the most out of their
      experiments.  Our area of expertise is in the development of
      tailored <strong>data driven modeling</strong> of living
      organisms, from the single cell to the epithelium.
      </blockquote>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="bs-component">
      <!-- <h3><em>Bienvenus</em></h3> -->
      <blockquote class="pull-right">
	<small>
	Morphogénie Logiciels SAS édite des logiciels libres pour
	permettre aux biologistes de tirer le meilleur parti de leurs
	données expérimentales.  Notre expertise technique réside dans
	le dévelopement de <strong>modélisations numérique</strong>
	orientée par les données d'organismes vivants, de la cellule
	unique à l'épithélium.
	</small>
      </blockquote>
    </div>
  </div>
</div>
<hr/>
